* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef0ff;
    position: relative;
}

/*UTILITY*/
.d-none {
    display: none !important;
}

/*UTILITY END*/

/*FONT FAMILY*/
.fm-electro-400 {
    font-family: 'Electrolize';
}
/*FONT FAMILY END*/

/*CUSTOM SCROLLBAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 99, 99);
}

/*CUSTOM SCROLLBAR END*/



#header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

#header_img_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header_img_hero {
    height: 100px;
}

#header_container {
    position: sticky;
    top: 0px;
}

#header_img {
    height: 100px;
}

#pokemon_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#pokemon_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    margin: 30px;
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    border-radius: 30px;
    padding: 10px;
    position: sticky;
    top: 140px;
}

#pokemon_card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(83, 99, 99);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

#pokemon_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon_name {
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin: unset;
}

#pokemon_type_name {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    background-color: #f9f0ff6b;
    border-radius: 50vw;
    min-width: 75px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#pokemon_id {
    display: flex;
    justify-content: flex-end;
    color: white;
}

#pokemon_img_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#pokemon_type_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pokemon_img {
    object-fit: contain;
    height: 140px;
    width: 140px;
}

#pokemon_card_data {
    height: 500px;
    width: 350px;
}

/* POPUPS */

.scale {
    scale: 1 !important;
}

#pokemon_popup_container {
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.541);
}

#pokemon_popup_card {
    background-color: rgb(83, 99, 99);
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#pokemon_card_popup_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    max-height: 750px;
    max-width: 450px;
    width: 100%;
    padding: 5px;
    border-radius: 19px;
    position: sticky;
    scale: 0;
    top: 15px;
    transition: all 225ms;
}

#pokemon_popup_img_wrapper {
    /* z-index: 3; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header_img {
    position: absolute;
    height: 432px;
    z-index: 1;
    opacity: 0.1;
    width: 432px;
    object-fit: contain;
    top: 8px;
}

#pokemon_popup_img {
    z-index: 5;
    height: 170px;
    width: 170px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: 10px;
}

#pokemon_popup_detail {
    height: 60%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    margin-top: -40px;
    z-index: 4;
}

#pokemon_popup_type_wrapper {
    width: 100%;
    z-index: 1;
}

#pokemon_popup_card_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#pokemon_popup_name {
    text-transform: capitalize;
    color: white;
    margin-top: 10px;
}

#pokemon_popup_id {
    display: flex;
    justify-content: flex-end;
    color: white;
}

#pokemon_popup_types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

#pokemon_popup_type_name {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    background-color: #f9f0ff6b;
    border-radius: 50vw;
    min-width: 75px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#pokemon_genus {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    color: white;
}

#type_wrapper {
    display: flex;
    gap: 5px;
}

#pokemon_popup_header_exit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
    cursor: pointer;
    margin-top: 5px;
}

#pokemon_popup_header_exit img:hover {
    background-color: rgba(240, 248, 255, 0.144);
    border-radius: 100%;
    padding: 5px;
    transition: all ease-in-out 225ms;
}

#pokemon_popup_header_exit img {
    height: 50px;
    width: 50px;
}

#back,
#next {
    color: white;
    padding: 10px;
    font-weight: bold;
}

#back:hover,
#next:hover {
    background-color: rgba(240, 248, 255, 0.144);
    border-radius: 50vw;
    padding: 10px;
    transition: all ease-in-out 225ms;
}


#pokemon_popup_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    width: 100%;
}

#pokemon_popup_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    list-style: none;
    padding: 0px 15px;
    margin: unset;
    width: 100%;
    min-height: 40px;
}

#moves,
#evolution,
#base_stats,
#about {
    display: flex;
    font-weight: bold;
    color: rgb(83, 99, 99);
    min-width: 102px;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

#moves:hover,
#evolution:hover,
#base_stats:hover,
#about:hover {
    transition: all ease-in-out 225ms;
    background-color: rgba(240, 248, 255, 0.212);
    border-radius: 10px 10px 0px 0px;
}

#selected {
    width: auto;
    background: rgb(116, 131, 131);
    height: 4px;
    margin: 0px 15px;
    display: flex;
}

#movesS,
#evolutionS,
#base_statsS,
#aboutS {
    width: 100%;
    transition: all ease-in-out 125ms;
    border-radius: 50vw;
}

#about_content {
    display: flex;
    height: 100%;
    max-height: 320px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border: 4px solid rgb(116, 131, 131);
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

#about_content div span {
    border: 2px solid rgb(83, 99, 99);
    padding: 4px;
    border-radius: 50vw;
}

#about_content div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#flavor_text {
    color: rgb(83, 99, 99);
    font-style: italic;
}

#detail-content {
    color: rgb(83, 99, 99);
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    height: 80%;
}

#base_stat_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-height: 330px;
    border: 4px solid rgb(116, 131, 131);
    padding: 10px;
    border-radius: 10px;
}

#base_stat_content span {
    padding-bottom: 4px;
}

#progress_wrapper {
    width: 100%;
    max-width: 410px;
    height: 8px;
    margin-bottom: 15px;
    border-radius: 0px 50vw 0px 50vw;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

#progress_fill {
    height: 8px;
    border-radius: 0px 50vw 0px 50vw;
    background: white;
    max-width: 382px;
}

#evolutions_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border: 4px solid rgb(116, 131, 131);
    padding: 10px;
    border-radius: 10px;
}

#evolution_img {
    height: 75px;
    width: 75px;
}

#evolve {
    height: 50px;
    width: 50px;
}

#evolution-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#evolution-container div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4px;
}

#moves_content {
    display: flex;
    overflow: auto;
    height: 315px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    border: 4px solid rgb(116, 131, 131);
    border-radius: 10px;
}

#move {
    border: 2px solid;
    border-radius: 50vw;
    padding: 10px;
    margin: 10px;
}

#about_content::-webkit-scrollbar,
#moves_content::-webkit-scrollbar {
    display: none;
}

#scrolldown {
    height: 32px;
    width: 32px;
    position: sticky;
    bottom: 1px;
}

#scrolldown img {
    height: 32px;
    width: 32px;
}

#search_pokemon {
    border: none;
    border-radius: 50vw;
    outline: none;
    appearance: none;
    padding: 10px;
    width: 300px;
    font-size: 21px;
    text-align: center;
    background: rgb(147 147 147);
    color: white;
    text-transform: capitalize;
}

@media (max-width: 735px) {
    #header {
        justify-content: center;
        padding: unset;
    }

    #header_img_wrapper {
        display: none;
    }
}

@media (max-width: 450px) {


    #pokemon_card_wrapper {
        top: 100px;
    }



    #pokemon_card_popup_wrapper {
        padding: unset;
        max-height: unset;
        max-width: unset;
    }

    #pokemon_popup_card {
        border-radius: unset;
    }

    #moves,
    #evolution,
    #base_stats,
    #about {
        min-width: 87px;
        font-size: 14px;
    }

    #movesS,
    #evolutionS,
    #base_statsS,
    #aboutS {
        width: 87px;
    }


    #progress_wrapper {
        margin-bottom: 25px;
    }

    #base_stat_content {
        padding: 5px;
        height: 406px;
        max-height: unset;
    }

    #about_content {
        height: 406px;
        max-height: unset;
        gap: 0px;
        justify-content: space-around;
    }

    #about_content div {
        gap: 10px;
    }

    #moves_content {
        height: 406px;
    }

    #evolutions_content {
        height: 406px
    }

    #pokemon_popup_nav ul {
        padding: 0px 14px;
        min-height: 36px;
    }

    #selected {
        width: unset;
        justify-content: space-between;
    }

    #about_content div span {
        font-size: 17px;
    }
}

@media (max-width: 375px) {
    #header_img {
        height: 372px;
    }

    #pokemon_card_popup_wrapper {
        padding: unset;
        max-height: unset;
        max-width: unset;
    }

    #pokemon_popup_card {
        border-radius: unset;
    }

    #moves,
    #evolution,
    #base_stats,
    #about {
        min-width: 87px;
        font-size: 13px;
    }

    #movesS,
    #evolutionS,
    #base_statsS,
    #aboutS {
        width: 87px;
    }

    #base_stat_content {
        padding: 5px;
        height: 268px;
    }

    #progress_wrapper {
        margin-bottom: 8px;
    }

    #about_content div {
        gap: 10px;
    }

    #moves_content {
        height: 268px;
    }

    #pokemon_popup_nav ul {
        padding: 0px 14px;
        min-height: 36px;
    }

    #selected {
        width: unset;
        justify-content: space-between;
    }

    #about_content div span {
        font-size: 16px;
    }

    #about_content {
        height: 268px;
        max-height: unset;
        gap: 0px;
        justify-content: space-around;
    }

    #evolutions_content {
        height: 268px
    }
}

#loader {
    background: #181B1D url(../img/pokeball_anim.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 0.5;
    transition: all 225ms;
}