* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff7f7;
}

/*FONT FAMILY*/
.fm-electro-400 {
    font-family: 'Electrolize';
}

#pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#pokemon_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    margin: 30px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 30px;
    padding: 15px;
}

#pokemon_card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(83, 99, 99);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
    cursor: pointer;
}

#pokemon_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon_name {
    font-size: 30px;
    color: #292929;
    text-transform: capitalize;
    margin: unset;
}

#pokemon_type_name {
    font-weight: bold;
}

#pokemon_id {
    display: flex;
    justify-content: flex-end;
    color: blanchedalmond;
}

#pokemon_img_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#pokemon_type_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pokemon_img {
    object-fit: contain;
    height: 140px;
    width: 140px;
}