<div id="pokemon_popup_nav">
    <ul>
        <li onclick="selectTab('aboutS')" class="fm-electro-400" id="about">About</li>
        <li onclick="selectTab('base_statsS')" class="fm-electro-400" id="base_stats">Base Stats</li>
        <li onclick="selectTab('evolutionS')" class="fm-electro-400" id="evolution">Evolution</li>
        <li onclick="selectTab('movesS')" class="fm-electro-400" id="moves">Moves</li>
    </ul>
    <div id="selected">
        <div id="aboutS"></div>
        <div id="base_statsS"></div>
        <div id="evolutionS"></div>
        <div id="movesS"></div>
    </div>
</div>